<div class="container">
    <div class="row justify-content-center">
        <h1 class="p bg-black text-white">Search by the first letter of title.</h1>
    </div>
    <div class="row justify-content-center">
        {{#each alphabets}}
            <form action="/search" method="GET">
                <button class="s-holder border col" type="submit" name="q" value="{{this}}">
                    {{this}}
                </button>
            </form>
        {{/each}}
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        {{#each numbers}}
            <form action="/search" method="GET">
                <button class="s-holder border col" type="submit" name="q" value="{{this}}">
                    {{this}}
                </button>
            </form>
        {{/each}}
    </div>
</div>